desktopWidth      =				1920px;
smDesktopWidth		=	      1280px;
tableWidth				=       768px;
phoneWidth				=       480px;
smPhoneWidth			=	      320px;


primary-color     =     #282828;
secondary-color   =     #888;
accent-color      =     #cc2b5e;
accent1-color     =     #753a88;
white-color       =     #FFF;

accent-gradient   =     linear-gradient(90deg, accent-color, accent1-color);

accent-font       =     'Paytone One', sans-serif;
primary-font      =     'Roboto', sans-serif;

gradient-text(gradient = accent-gradient)
  background: gradient;
  background-clip: text;
  color: transparent;

// AMINATIONS

.slide-fade-enter-active, 
.slide-fade-leave-active
  transition: opacity .5s

.slide-fade-enter,
.slide-fade-leave-to
  opacity: 0
